html{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:rgb(125, 190, 125);
}
                .titulo{
                    position:absolute;
                    left:20px;
                    top:20px;
                    margin-top: 0px;
                    border: solid, 3px;
                    border-color: white;
                    outline: 20.9px solid rgb(40, 92, 40);
                    width: 97.6%;
                    line-height: 150px;
                    font-size: 50px;
                    color: white;
                    text-align: center;
                    background-color:rgb(40, 92, 40);                    
                }
                            .sumario{
                                position: absolute;
                                top:23.4%;
                                left:1%;
                                height: 27%;
                                width: 10%;
                                font-size: 30px;
                                background-color: rgb(164, 209, 164);
                            }
                                        .biografia{
                                            position: absolute;
                                            top:23.4%;
                                            right:1%;
                                            height: 62%;
                                            width: 87%;
                                            font-size: 30px;
                                            background-color: rgb(164, 209, 164);
                                        }

                                        .sobre{
                                            position: absolute;
                                            top:23.4%;
                                            right:1%;
                                            height: 62%;
                                            width: 87%;
                                            font-size: 30px;
                                            background-color: rgb(164, 209, 164);
                                        }

                                        .formacao{
                                            position: absolute;
                                            top:23.4%;
                                            right:1%;
                                            height: 62%;
                                            width: 87%;
                                            font-size: 30px;
                                            background-color: rgb(164, 209, 164);
                                        }

                                        .disciplinas{
                                            position: absolute;
                                            top:23.4%;
                                            right:1%;
                                            height: 877px;
                                            width: 87%;
                                            font-size: 30px;
                                            background-color: rgb(164, 209, 164);
                                        }

                                        .contato{
                                            position: absolute;
                                            top:23.4%;
                                            right:1%;
                                            height: 62%;
                                            width: 87%;
                                            font-size: 30px;
                                            background-color: rgb(164, 209, 164);
                                        }
                    .table{
                        margin: 0 auto;
                        background-color: rgb(215, 241, 215);
                    }
            .form{
                margin: 65px;
                width: max-content;
                background-color:rgb(215, 241, 215);
            }
.imagem1{
    position:absolute;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.rodape{
    text-align: right;
    position: absolute;
    left:0px;
    bottom:0px;
    margin-top: 24%;
    width: 100%;
    line-height: 70px;

}

.rodape-disciplinas {
    text-align: right;
    position: absolute;
    top: 677px;
    left:0px;
    margin-top: 24%;
    width: 100%;
    line-height: 70px;
}
